@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #030712;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: #030712;
}

.mermaid-preview svg {
  max-width: 100%;
  height: auto;
}
